---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app.kubernetes.io/name: clickhouse-unified-recorder
    app.kubernetes.io/part-of: it-bench
  name: clickhouse-unified-records
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeMode: Filesystem
