---
- name: Manage SRE and FinOps Scenario Files
  hosts:
    - environment
  tasks:
    - name: Include scenarios role
      ansible.builtin.import_role:
        name: scenarios
      vars:
        scenarios_files_generator:
          options:
            overwrite: "{{ allow_overwrites | default(false) | bool }}"
