---
- name: Manage SRE and FinOps Scenario Files
  hosts:
    - environment
  tasks:
    - name: Load scenarios library index
      ansible.builtin.set_fact:
        scenarios_library_index: "{{ lookup('ansible.builtin.file', index_file_path) | from_json }}"
      vars:
        index_file_path: "{{ playbook_dir }}/../roles/documentation/files/library/scenarios/index.json"

    - name: Generate scenario specs
      ansible.builtin.copy:
        content: "{{ lookup('ansible.builtin.template', template_file_path) | from_yaml | to_nice_yaml(indent=2) }}"
        dest: "{{ playbook_dir }}/../roles/scenarios/files/scenarios/scenario_{{ scenario.id }}.yaml"
        mode: "0644"
      loop: "{{ scenarios_library_index }}"
      loop_control:
        label: scenario-{{ scenario.id }}
        loop_var: scenario
      vars:
        chaos_mesh_fault_count: |-
          {{
            scenario.disruptions |
            community.general.json_query("[*].injections[?id=='scheduled-chaos-mesh-experiment']") |
            flatten |
            select() |
            length
          }}
        template_file_path: "{{ playbook_dir }}/../roles/scenarios/templates/scenario.j2"

    - name: Generate scenario ground truths
      ansible.builtin.copy:
        content: "{{ lookup('ansible.builtin.template', template_file_path) | from_yaml | to_nice_yaml(indent=2) }}"
        dest: "{{ playbook_dir }}/../roles/scenarios/files/ground_truths/scenario_{{ scenario.id }}.yaml"
        mode: "0644"
      loop: "{{ scenarios_library_index }}"
      loop_control:
        label: scenario-{{ scenario.id }}
        loop_var: scenario
      vars:
        template_file_path: "{{ playbook_dir }}/../roles/scenarios/templates/groundtruth.j2"

    - name: Generate scenario access rules
      ansible.builtin.copy:
        content: "{{ lookup('ansible.builtin.template', template_file_path) | from_yaml | to_nice_yaml(indent=2) }}"
        dest: "{{ playbook_dir }}/../roles/scenarios/files/accessrules/scenario_{{ scenario.id }}.yaml"
        mode: "0644"
      loop: "{{ scenarios_library_index }}"
      loop_control:
        label: scenario-{{ scenario.id }}
        loop_var: scenario
      vars:
        scenario_namespaces: |-
          {{
            scenario.disruptions |
            community.general.json_query("[*].injections[*].args") |
            flatten |
            community.general.json_query("[*].kubernetesObject.metadata.namespace") |
            unique
          }}
        template_file_path: "{{ playbook_dir }}/../roles/scenarios/templates/accessrule.j2"
