---
- name: Manage SRE and FinOps Scenario Files
  hosts:
    - environment
  tasks:
    - name: Load scenarios library index
      ansible.builtin.set_fact:
        scenarios_library_index: "{{ lookup('ansible.builtin.file', index_file_path) | from_json }}"
      vars:
        index_file_path: "{{ playbook_dir }}/../roles/documentation/files/library/scenarios/index.json"

    - name: Generate scenario directory paths
      ansible.builtin.set_fact:
        scenario_directory_paths: "{{ scenario_directory_paths | default({}) | combine({scenario.id: directory_path}) }}"
      loop: "{{ scenarios_library_index }}"
      loop_control:
        label: scenario-{{ scenario.id }}
        loop_var: scenario
      vars:
        directory_path: "{{ playbook_dir }}/../roles/scenarios/files/scenario_{{ scenario.id }}"

    - name: Generate scenario directories
      ansible.builtin.file:
        mode: "0755"
        path: "{{ scenario_directory_paths[scenario.id] }}"
        state: directory
      loop: "{{ scenarios_library_index }}"
      loop_control:
        label: scenario-{{ scenario.id }}
        loop_var: scenario
      when:
        - not (scenario_directory_paths[scenario.id] is directory)

    - name: Generate scenario specs
      ansible.builtin.copy:
        content: "{{ lookup('ansible.builtin.template', template_file_path) | from_yaml | to_nice_yaml(indent=2) }}"
        dest: "{{ scenario_directory_paths[scenario.id] }}/scenario.yaml"
        force: false
        mode: "0644"
      loop: "{{ scenarios_library_index }}"
      loop_control:
        label: scenario-{{ scenario.id }}
        loop_var: scenario
      vars:
        chaos_mesh_fault_count: |-
          {{
            scenario.disruptions |
            community.general.json_query("[*].injections[?id=='scheduled-chaos-mesh-experiment']") |
            flatten |
            select() |
            length
          }}
        template_file_path: "{{ playbook_dir }}/../roles/scenarios/templates/scenario.j2"

    - name: Generate scenario ground truths
      ansible.builtin.copy:
        content: "{{ lookup('ansible.builtin.template', template_file_path) | from_yaml | to_nice_yaml(indent=2) }}"
        dest: "{{ scenario_directory_paths[scenario.id] }}/groundtruth.yaml"
        force: false
        mode: "0644"
      loop: "{{ scenarios_library_index }}"
      loop_control:
        label: scenario-{{ scenario.id }}
        loop_var: scenario
      vars:
        template_file_path: "{{ playbook_dir }}/../roles/scenarios/templates/groundtruth.j2"

    - name: Generate scenario access rules
      ansible.builtin.copy:
        content: "{{ lookup('ansible.builtin.template', template_file_path) | from_yaml | to_nice_yaml(indent=2) }}"
        dest: "{{ scenario_directory_paths[scenario.id] }}/accessrule.yaml"
        force: false
        mode: "0644"
      loop: "{{ scenarios_library_index }}"
      loop_control:
        label: scenario-{{ scenario.id }}
        loop_var: scenario
      vars:
        scenario_namespaces: |-
          {{
            scenario.disruptions |
            community.general.json_query("[*].injections[*].args") |
            flatten |
            community.general.json_query("[*].kubernetesObject.metadata.namespace") |
            unique
          }}
        template_file_path: "{{ playbook_dir }}/../roles/scenarios/templates/accessrule.j2"
