alerts:
- group_id: checkout-pod-1
aliases:
- - checkout-service-1
  - checkout-pod-1
fault:
- category: Change
  condition: To Be Specified
  entity:
    group_id: checkout-pod-1
    kind: Pod
    name: checkout-pod-1
  fault_mechanism: custom
groups:
- filter:
  - checkout-.*
  kind: Deployment
  namespace: otel-demo
  root_cause: true
- filter:
  - checkout-.*
  kind: Pod
  namespace: otel-demo
- filter:
  - checkout\b
  kind: Service
  namespace: otel-demo
propagations:
- condition: checkout deployment updated to point to an invalid image - incorrect
    architecture
  effect: checkout pod is in ImagePullBackOff error
  source: checkout-deployment-1
  target: checkout-pod-1
- condition: checkout pod is in ImagePullBackOff error
  effect: ''
  source: checkout-pod-1
  target: checkout-service-1
recommended_actions:
- solution:
    actions:
    - change the image of checkout to correct image for amd64 system
