---
apiVersion: v1
kind: ConfigMap
metadata:
  name: api-surge-script
  namespace: {{ spec.namespace.name }}
data:
  generate-api-load.sh: |
{{ lookup('ansible.builtin.file', 'files/api_request_surge/generate-api-load.sh') | indent(width=4) }}
