---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-49
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults:
    - injections:
        - args:
            container:
              name: frontend
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: frontend
                namespace: otel-demo
          id: misconfigured-kuberntes-workload-container-readiness-probe
  tools:
    chaosEngineering:
      chaosMesh:
        enabled: false
    costMonitoring:
      opencost:
        enabled: false
    observability:
      topology:
        enabled: true
      traces:
        enabled: true
