---
metadata:
  version: "v1"
fault:
  - entity:
      name: productpage-v1-service-1
      group_id: productpage-v1-service-1
      kind: Service
    condition: Peer authentication is applied to productpage-v1 service which cannot communicate to the other services
    category: Change
    fault_mechanism: custom
alerts:
  - id: RequestErrorRate
    group_id: productpage-v1-pod-1
    metadata:
      description: Increased error rate for product page service due to erroring requests
groups:
  - id: productpage-v1-pod-1
    kind: Pod
    filter:
      - productpage-v1-*
    namespace: bookinfo
  - id: productpage-v1-service-1
    kind: Service
    filter:
      - productpage-v1-*
    namespace: bookinfo
    root_cause: true
aliases:
  - - productpage-v1-pod-1
    - productpage-v1-service-1
propagations:
  - source: productpage-v1-service-1
    target: productpage-v1-service-1
    condition: Authenticaition policy causes service to be unable to communicate to other pods.
    effect: HTTP requests to service are denied, leading to an increased error rate.
recommended_actions: []
