---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-48
spec:
  applications:
    - bookInfo:
        enabled: true
        options: {}
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: v1
              kind: Namespace
              metadata:
                name: bookinfo
          id: disabled-istio-ambient-mode-kubernetes-namespace
  tools:
    chaosEngineering:
      chaosMesh:
        enabled: false
    costMonitoring:
      opencost:
        enabled: false
    observability:
      topology:
        enabled: true
      traces:
        enabled: true
