---
- identifier: node-reinit-tools
  unified_job_template:
    name: Reinit-Tools
    type: job_template
  related:
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
    success_nodes:
      - identifier: node-install-applications
- identifier: node-install-applications
  unified_job_template:
    name: Deploy-Applications
    type: job_template
  related:
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
    success_nodes:
      - identifier: node-install-recorders
- identifier: node-install-recorders
  unified_job_template:
    name: Install-Data-Recorders
    type: job_template
  extra_data:
    recorders_awx_topology_filename_prefix: init
  related:
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
    success_nodes:
      - identifier: node-pause-at-start
- identifier: node-pause-at-start
  unified_job_template:
    name: Pause
    type: job_template
  related:
    success_nodes:
      - identifier: node-grant-access-to-agent
- identifier: node-grant-access-to-agent
  unified_job_template:
    name: Grant-Access-To-Agent
    type: job_template
  related:
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
    success_nodes:
      - identifier: node-inject-fault
- identifier: node-inject-fault
  unified_job_template:
    name: Inject-Faults
    type: job_template
  related:
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
    success_nodes:
      - identifier: node-install-run-topology-recorder-post-fault-injection
- identifier: node-install-run-topology-recorder-post-fault-injection
  unified_job_template:
    name: Run-Topology-Data-Recorder
    type: job_template
  extra_data:
    recorders_awx_topology_filename_prefix: post_fault_injection
  related:
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
    success_nodes:
      - identifier: node-pause-post-fault-injection
- identifier: node-pause-post-fault-injection
  unified_job_template:
    name: Pause
    type: job_template
  related:
    success_nodes:
      - identifier: node-check-for-alerts
- identifier: node-check-for-alerts
  unified_job_template:
    name: Check-for-Alerts
    type: job_template
  related:
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
    failure_nodes:
      - identifier: node-uninstall-recorders
    success_nodes:
      - identifier: node-handover-to-agent
- identifier: node-handover-to-agent
  unified_job_template:
    name: Handover-To-Agent
    type: job_template
  related:
{% if requires_aws_credentials %}
    credentials:
      - AWS
{% endif %}
    success_nodes:
      - identifier: node-run-agent
- identifier: node-run-agent
  unified_job_template:
    name: Run-Agent
    type: job_template
  related:
    always_nodes:
      - identifier: node-handback-from-agent
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
- identifier: node-handback-from-agent
  unified_job_template:
    name: Handback-From-Agent
    type: job_template
  related:
    always_nodes:
      - identifier: node-remove-access-from-agent
{% if requires_aws_credentials %}
    credentials:
      - AWS
{% endif %}
- identifier: node-remove-access-from-agent
  unified_job_template:
    name: Remove-Access-From-Agent
    type: job_template
  related:
    always_nodes:
      - identifier: node-install-run-topology-recorder-post-agent-execution
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
- identifier: node-install-run-topology-recorder-post-agent-execution
  unified_job_template:
    name: Run-Topology-Data-Recorder
    type: job_template
  extra_data:
    recorders_awx_topology_filename_prefix: end
  related:
    always_nodes:
      - identifier: node-pause-post-agent-execution
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
- identifier: node-pause-post-agent-execution
  unified_job_template:
    name: Pause
    type: job_template
  related:
    always_nodes:
      - identifier: node-uninstall-recorders
- identifier: node-uninstall-recorders
  unified_job_template:
    name: Uninstall-Data-Recorders
    type: job_template
  related:
    always_nodes:
      - identifier: node-remove-fault
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
- identifier: node-remove-fault
  unified_job_template:
    name: Remove-Faults
    type: job_template
  related:
    always_nodes:
      - identifier: node-undeploy-applications
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
- identifier: node-undeploy-applications
  unified_job_template:
    name: Undeploy-Applications
    type: job_template
  related:
    credentials:
      - Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
