---
- identifier: node-undeploy-tools
  unified_job_template:
    name: Undeploy-Tools
    type: job_template
  related:
    credentials:
      - Cluster-{{ group.cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - AWS
{% endif %}
