---
apiVersion: itbench.io/v1
kind: Scenario
metadata:
  name: scenario-44
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: payment
                namespace: otel-demo
          id: unschedueable-kuberntes-workload-pod-anti-affinity-rule
  tools:
    chaosEngineering:
      chaosMesh:
        enabled: false
    costMonitoring:
      opencost:
        enabled: false
    observability:
      topology:
        enabled: true
      traces:
        enabled: true
