---
apiVersion: security.istio.io/v1
kind: PeerAuthentication
metadata:
  labels:
    app.kubernetes.io/component: strict-tls-fault
    app.kubernetes.io/name: strict-mtls-mode
    app.kubernetes.io/managed-by: ITBench
  name: strict-mtls-mode
  namespace: {{ fault_args.workload.namespace }}
spec:
  mtls:
    mode: STRICT
