---
- name: Retrieve information on valkey workload
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: "{{ spec.workload.kind }}"
    name: "{{ spec.workload.name }}"
    namespace: "{{ spec.workload.namespace }}"
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
  register: faults_workload_info
  
- name: Add storage filler sidecar container to deployment
  kubernetes.core.k8s_json_patch:
    api_version: apps/v1
    kind: "{{ spec.workload.kind }}"
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: "{{ spec.workload.name }}"
    namespace: "{{ spec.workload.namespace }}"
    patch:
      - op: add
        path: /spec/template/spec/containers
        value:
          name: storage-filler
          image: docker.io/library/busybox:latest
          command:
            - /bin/sh
            - -c
            - dd if=/dev/zero of=/tmp/filler bs=1M count={{ spec.storage_size_mb | default(500) }} && sleep infinity
  
