---
- name: Retrieve worker nodes on the cluster
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    label_selectors:
      - node-role.kubernetes.io/node =
  register: faults_nodes

- name: Validate that worker nodes exists
  ansible.builtin.assert:
    that:
      - faults_nodes is defined
      - faults_nodes.resources | length > 0
    fail_msg: Unable to find worker nodes. Please run this fault on a cluster with worker nodes.
    success_msg: Found worker nodes.

- name: Create a deployment on all worker nodes
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    template: templates/pod_anti_affinity/deployment.j2
    state: present
  loop: "{{ faults_nodes.resources }}"
  loop_control:
    index_var: node_index
    label: node/{{ node.metadata.name }}
    loop_var: node
  vars:
    fault_args: "{{ spec }}"
    container_image: |-
      {{
        lookup('ansible.builtin.file', 'files/pod_anti_affinity/deployment.yaml') |
        from_yaml |
        community.general.json_query('spec.template.spec.containers[0].image')
      }}

- name: Retrieve information on workload
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: "{{ spec.workload.kind }}"
    name: "{{ spec.workload.name }}"
    namespace: "{{ spec.workload.namespace }}"
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
  register: faults_workload

- name: Validate that workload exists
  ansible.builtin.assert:
    that:
      - faults_workload is defined
      - faults_workload.resources | length == 1
    fail_msg: Unable to find workload. Please verify that the workload exists.
    success_msg: Found workload.

- name: Patch deployment with faulty pod anti-affinity rules
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ faults_workload.resources[0].apiVersion }}"
      kind: "{{ faults_workload.resources[0].kind }}"
      metadata:
        name: "{{ faults_workload.resources[0].metadata.name }}"
        namespace: "{{ faults_workload.resources[0].metadata.namespace }}"
      spec:
        template:
          spec:
            affinity:
              podAntiAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  - labelSelector:
                      matchExpressions:
                        - key: app.kubernetes.io/component
                          operator: In
                          values:
                            - pod-anti-affinity-fault
                    topologyKey: kubernetes.io/hostname
    state: patched
