---
- name: Retrieve worker nodes on the cluster
  kubernetes.core.k8s_info:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    api_version: v1
    kind: Node
    label_selectors:
      - node-role.kubernetes.io/node =
  register: faults_nodes

- name: Create a deployment on all worker nodes
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        labels:
          "app.kubernetes.io/name": "{{ node_index }}-{{ node.metadata.name }}"
          "app.kubernetes.io/managed-by": ITBench
        name: "{{ node_index }}-{{ node.metadata.name }}"
        namespace: "{{ spec.workload.namespace }}"
      spec:
        selector:
          matchLabels:
            "app.kubernetes.io/name": "{{ node_index }}-{{ node.metadata.name }}"
            "app.kubernetes.io/managed-by": ITBench
        template:
          metadata:
            labels:
              "app.kubernetes.io/name": "{{ node_index }}-{{ node.metadata.name }}"
              "app.kubernetes.io/managed-by": ITBench
          spec:
            containers:
              - name: worker
                image: registry.access.redhat.com/ubi10/python-312-minimal:10.1-1763382423
                command:
                  - /bin/sh
                args:
                  - -c
                  - "sleep infinity"
            nodeSelector:
              kubernetes.io/hostname: "{{ node.metadata.name }}"
    state: present
  loop: "{{ faults_nodes.resources }}"
  loop_control:
    index_var: node_index
    label: node/{{ node.metadata.name }}
    loop_var: node

- name: Retrieve information on workload
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: "{{ spec.workload.kind }}"
    name: "{{ spec.workload.name }}"
    namespace: "{{ spec.workload.namespace }}"
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
  register: faults_workload_info

- name: Patch deployment with strict pod anti-affinity and increased replicas
  kubernetes.core.k8s:
    api_version: apps/v1
    kind: "{{ spec.workload.kind }}"
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: "{{ spec.workload.name }}"
    namespace: "{{ spec.workload.namespace }}"
    definition:
      spec:
        template:
          spec:
            affinity:
              podAntiAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  - labelSelector:
                      matchExpressions:
                        - key: app.kubernetes.io/managed-by
                          operator: In
                          values:
                            - ITBench
                    topologyKey: kubernetes.io/hostname
    state: present
