---
- name: Retrieve all worker nodes on the cluster
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    label_selectors:
      - node-role.kubernetes.io/node =
  register: faults_nodes

- name: Uncordon the worker nodes
  kubernetes.core.k8s_drain:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: "{{ node.metadata.name }}"
    state: uncordon
  loop: "{{ faults_nodes.resources }}"
  loop_control:
    label: node/{{ node.metadata.name }}
    loop_var: node
  when:
    - node.spec.unschedulable is defined
    - node.spec.unschedulable

- name: Retrieve all fault related pod disruption budgets
  kubernetes.core.k8s_info:
    api_version: policy/v1
    kind: PodDisruptionBudget
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    label_selectors:
      - app.kubernetes.io/component = drain-blocking-pdb-fault
      - app.kubernetes.io/managed-by = ITBench
  register: faults_pod_disruption_budgets

- name: Delete all fault related pod disruption budgets
  kubernetes.core.k8s:
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: "{{ poddisruptionbudget.apiVersion }}"
      kind: "{{ poddisruptionbudget.kind }}"
      metadata:
        name: "{{ poddisruptionbudget.metadata.name }}"
        namespace: "{{ poddisruptionbudget.metadata.namespace }}"
    state: absent
    wait: true
  loop: "{{ faults_pod_disruption_budgets.resources }}"
  loop_control:
    label: poddisruptionbudget/{{ poddisruptionbudget.metadata.name }}
    loop_var: poddisruptionbudget

- name: Display fault removal instructions
  ansible.builtin.debug:
    msg: To remove this fault, please uninstall and reinstall the application it was injected into.
