---
- name: Remove fault (Authorization Policy Deny)
  kubernetes.core.k8s:
    api_version: security.istio.io/v1
    kind: AuthorizationPolicy
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: "{{ spec.authorization_policy_deny.policy_name | default('deny-method-get') }}"
    namespace: "{{ spec.authorization_policy_deny.namespace }}"
    state: absent

- name: Display fault removal confirmation
  ansible.builtin.debug:
    msg: >-
      Authorization Policy Deny fault removed successfully!
