---
tools_http_route_response_headers:
  - name: Content-Security-Policy
    value: "img-src 'self' data:; connect-src 'self'; font-src 'self'; object-src 'none'; form-action 'none'; frame-ancestors 'none'"
  - name: Cross-Origin-Resource-Policy
    value: same-origin
  - name: Strict-Transport-Security
    value: max-age=31536000; includeSubDomains; preload
  - name: Referrer-Policy
    value: strict-origin-when-cross-origin
  - name: X-Content-Type-Options
    value: nosniff
  - name: X-Frame-Options
    value: DENY
  - name: X-XSS-Protection
    value: "0"
tools_route_response_headers:
  - name: Content-Security-Policy
    action:
      type: Set
      set:
        value: "img-src 'self' data:; connect-src 'self'; font-src 'self'; object-src 'none'; form-action 'none'; frame-ancestors 'none'"
  - name: Cross-Origin-Resource-Policy
    action:
      type: Set
      set:
        value: same-origin
  - name: Referrer-Policy
    action:
      type: Set
      set:
        value: strict-origin-when-cross-origin
  - name: X-Content-Type-Options
    action:
      type: Set
      set:
        value: nosniff
  - name: X-Frame-Options
    action:
      type: Set
      set:
        value: DENY
  - name: X-XSS-Protection
    action:
      type: Set
      set:
        value: "0"
