---
- name: Validate scenario library index
  ansible.utils.validate:
    data: "{{ lookup('ansible.builtin.file', 'files/library/scenarios/index.json') | from_json }}"
    criteria: "{{ lookup('ansible.builtin.file', 'files/library/scenarios/schema.json') | from_json }}"
    engine: ansible.utils.jsonschema

- name: Generate map for faults based on fault id
  ansible.builtin.set_fact:
    documentation_faults: "{{ (documentation_faults | default({})) | combine({fault.id: fault}) }}"
  loop: "{{ lookup('ansible.builtin.file', 'files/library/faults/index.json') | from_json }}"
  loop_control:
    label: fault/{{ fault.name }}
    loop_var: fault

- name: Generate map for waiters based on waiter id
  ansible.builtin.set_fact:
    documentation_waiters: "{{ (documentation_waiters | default({})) | combine({waiter.id: waiter}) }}"
  loop: "{{ lookup('ansible.builtin.file', 'files/library/waiters/index.json') | from_json }}"
  loop_control:
    label: waiter/{{ waiter.name }}
    loop_var: waiter

- name: Generate list of scenario objects for validation
  ansible.builtin.set_fact:
    documentation_scenario_injections: |-
      {{
        (
          documentation_scenario_injections | default([])
        ) +
        (
          [scenario.id] |
          product(
            scenario.disruptions |
            community.general.json_query("[*].injections") |
            flatten
          )
        )
      }}
    documentation_scenario_waiters: |-
      {{
        (
          documentation_scenario_waiters | default([])
        ) +
        (
          [scenario.id] |
          product(
            scenario.disruptions |
            community.general.json_query("[*].waitFor") |
            flatten
          )
        )
      }}
  loop: "{{ lookup('ansible.builtin.file', 'files/library/scenarios/index.json') | from_json }}"
  loop_control:
    label: scenario-{{ scenario.id }}
    loop_var: scenario

- name: Validate scenario fault injection arguments
  ansible.utils.validate:
    data: "{{ group[1].args }}"
    criteria: "{{ documentation_faults[group[1].id].arguments.jsonSchema }}"
    engine: ansible.utils.jsonschema
  loop: "{{ documentation_scenario_injections }}"
  loop_control:
    label: scenario-{{ group[0] }}/{{ group[1].id }}
    loop_var: group

- name: Validate scenario fault waiter arguments
  ansible.utils.validate:
    data: "{{ group[1].args }}"
    criteria: "{{ documentation_waiters[group[1].id].arguments.jsonSchema }}"
    engine: ansible.utils.jsonschema
  loop: "{{ documentation_scenario_waiters }}"
  loop_control:
    label: scenario-{{ group[0] }}/{{ group[1].id }}
    loop_var: group
