---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-47
spec:
  applications:
    - bookInfo:
        enabled: true
        options: {}
  faults:
    - injections:
        - args:
            httpMethods:
              - GET
            kubernetesObject:
              apiVersion: gateway.networking.k8s.io
              kind: Gateway
              metadata:
                name: bookinfo-gateway
                namespace: bookinfo
          id: traffic-denying-istio-gateway-authorization-policy
  tools:
    chaosEngineering:
      chaosMesh:
        enabled: false
    costMonitoring:
      opencost:
        enabled: false
    observability:
      topology:
        enabled: true
      traces:
        enabled: true
