---
apiVersion: itbench.io/v1
kind: Scenario
metadata:
  name: {{ ["scenario", scenario.id] | join("-") }}
spec:
  applications:
{% for application in scenario.environment.applications %}
{% if application.id == "book-info" %}
    - bookInfo:
        enabled: true
        options: {}
{% elif application.id == "opentelemetry-demo" %}
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
{% endif %}
{% endfor %}
  faults: {{ scenario.disruptions }}
  tools:
{% if chaos_mesh_fault_count > 0 %}
    chaosEngineering:
      chaosMesh:
        enabled: true
{% endif %}
{% if scenario.category == "finops" %}
    costMonitoring:
      opencost:
        enabled: true
{% endif %}
    networking:
      istio:
        enabled: true
    observability:
{% if "Kubernetes" in scenario.platforms %}
      events:
        enabled: true
{% endif %}
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
