---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ tools_instances.kubernetes_gateways.names.tools }}
  namespace: {{ tools_instances.kubernetes_gateways.namespace }}
spec:
  selector:
    matchLabels:
      gateway.networking.k8s.io/gateway-name: {{ tools_instances.kubernetes_gateways.names.tools }}
  endpoints:
    - interval: 30s
      port: status-port
