---
- name: Create release namespace for Istio
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    state: present
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.istio.namespace }}"
        labels:
          it-bench/monitoring: "true"

- name: Install Istio Base (CRDs)
  kubernetes.core.helm:
    chart_ref: base
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.27.3
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.base }}"
    release_namespace: "{{ tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/base.j2') | from_yaml }}"
    wait: true

- name: Install Istio Control Plane
  kubernetes.core.helm:
    chart_ref: istiod
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.27.3
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.control_plane }}"
    release_namespace: "{{ tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/control_plane.j2') | from_yaml }}"
    wait: true

- name: Install Istio CNI
  kubernetes.core.helm:
    chart_ref: cni
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.27.3
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.cni }}"
    release_namespace: "{{ 'kube-system' if tools_cluster.platform == 'openshift' else tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/cni.j2') | from_yaml }}"
    wait: true

- name: Install Istio ZTunnel
  kubernetes.core.helm:
    chart_ref: ztunnel
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.27.3
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.ztunnel }}"
    release_namespace: "{{ 'kube-system' if tools_cluster.platform == 'openshift' else tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/ztunnel.j2') | from_yaml }}"
    wait: true

- name: Deploy Istio Telemetry
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/istio/telemetry.j2
    state: present

- name: Deploy ServiceMonitors
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/istio/servicemonitor.j2
    state: present
  when:
    - tools_required.prometheus

- name: Create release namespace for Istio Gateway
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    state: present
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.istio_gateway.namespace }}"
        labels:
          it-bench/monitoring: "true"

- name: Install Istio ingress gateway
  kubernetes.core.helm:
    chart_ref: gateway
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.27.3
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio_gateway.name }}"
    release_namespace: "{{ tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio_gateway.j2') | from_yaml }}"
    wait: true
