---
- name: Install Prometheus and Prometheus Operator on Kubernetes
  when:
    - tools_cluster.platform == "kubernetes"
  block:
    - name: Create the release namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ tools_helm_releases.prometheus.namespace }}"
            labels:
              it-bench/monitoring: "true"
              it-bench/shared-gateway-access: "true"
        state: present

    - name: Install Prometheus Operator and Prometheus
      kubernetes.core.helm:
        chart_ref: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
        chart_version: 80.2.0
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        release_name: "{{ tools_helm_releases.prometheus.name }}"
        release_namespace: "{{ tools_helm_releases.prometheus.namespace }}"
        release_state: present
        timeout: 10m0s
        values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/prometheus.j2') | from_yaml }}"
        wait: true

- name: Enabled OpenShift User Worklord Monitoring (Prometheus)
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Enable OpenShift user workload monitoring
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        state: present
        src: files/openshift/user-workload-monitoring-config.yaml

    - name: Wait for Prometheus workload pods to start
      kubernetes.core.k8s_info:
        kind: Pod
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        label_selectors:
          - app.kubernetes.io/component = prometheus
          - app.kubernetes.io/instance = user-workload
        namespace: openshift-user-workload-monitoring
        wait: true
        wait_condition:
          type: Ready
          status: "True"
        wait_timeout: 300
