---
- name: Install Prometheus and Prometheus Operator on Kubernetes
  when:
    - tools_cluster.platform == "kubernetes"
  block:
    - name: Create the release namespace
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ tools_helm_releases.prometheus.namespace }}"
            labels:
              it-bench/monitoring: "true"
              it-bench/shared-gateway-access: "true"
        state: present

    - name: Install Prometheus Operator and Prometheus
      kubernetes.core.helm:
        chart_ref: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
        chart_version: 79.4.1
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        release_name: "{{ tools_helm_releases.prometheus.name }}"
        release_namespace: "{{ tools_helm_releases.prometheus.namespace }}"
        release_state: present
        timeout: 10m0s
        values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/prometheus.j2') | from_yaml }}"
        wait: true

- name: Enabled OpenShift User Worklord Monitoring (Prometheus)
  when:
    - tools_cluster.platform == "openshift"
  block:
    - name: Enable OpenShift user workload monitoring
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        state: present
        src: files/openshift/user-workload-monitoring-config.yaml

    - name: Wait for Prometheus workload pods to start
      kubernetes.core.k8s_info:
        kind: Pod
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        label_selectors:
          - app.kubernetes.io/component = prometheus
          - app.kubernetes.io/instance = user-workload
        namespace: openshift-user-workload-monitoring
        wait: true
        wait_condition:
          type: Ready
          status: "True"
        wait_timeout: 300

- name: Enable external access on Kind
  when:
    - tools_cluster.platform == "kubernetes"
    - tools_cluster.provider == "kind"
    - tools_installation_plan.prometheus.external_access
  block:
    - name: Import Kubernetes Gateway creation tasks
      ansible.builtin.import_tasks:
        file: install_kubernetes_gateway.yaml
      vars:
        gateway:
          name: "{{ tools_helm_releases.prometheus.name }}"
          namespace: "{{ tools_helm_releases.prometheus.namespace }}"

    - name: Import Kubernetes HTTP Route creation tasks
      ansible.builtin.import_tasks:
        file: install_kubernetes_http_route.yaml
      vars:
        gateway:
          name: "{{ tools_helm_releases.prometheus.name }}"
          namespace: "{{ tools_helm_releases.prometheus.namespace }}"
        http_routes:
          - name: "{{ tools_helm_releases.prometheus.name }}"
            namespace: "{{ tools_helm_releases.prometheus.namespace }}"
            service:
              name: "{{ tools_helm_releases.prometheus.name }}-kube-prometheus-prometheus"
              port: 9090

    - name: Import connection test to external endpoint
      ansible.builtin.import_tasks:
        file: test_external_endpoint.yaml
      vars:
        tools_external_network_object:
          name: "{{ tools_helm_releases.prometheus.name }}"
          namespace: "{{ tools_helm_releases.prometheus.namespace }}"
        tools_external_paths:
          - /query
          - /alerts
