---
- name: Import Assertion JSON initialization tasks
  ansible.builtin.import_tasks:
    file: initialize_assertion_json.yaml
  when:
    - (sre_bench_runner | default(false))

- name: Import Prometheus installation tasks
  ansible.builtin.import_tasks:
    file: install_prometheus.yaml
  vars:
    helm_release: "{{ tools_helm_releases.prometheus }}"
  when:
    - tools_enabled.prometheus or tools_enabled.opencost

- name: Import Clickhouse installation tasks
  ansible.builtin.import_tasks:
    file: install_clickhouse.yaml
  vars:
    helm_releases:
      instance: "{{ tools_helm_releases.clickhouse }}"
      operator: "{{ tools_helm_releases.clickhouse_operator }}"
  when:
    - tools_enabled.clickhouse or tools_enabled.opentelemetry

- name: Import OpenSearch installation tasks
  ansible.builtin.import_tasks:
    file: install_opensearch.yaml
  vars:
    helm_release: "{{ tools_helm_releases.opensearch }}"
  when:
    - tools_enabled.opensearch or tools_enabled.jaeger

- name: Import OpenTelemetry installation tasks
  ansible.builtin.import_tasks:
    file: install_opentelemetry.yaml
  vars:
    helm_releases:
      clickhouse: "{{ tools_helm_releases.clickhouse }}"
      collectors: "{{ tools_helm_releases.opentelemetry_collectors }}"
      operator: "{{ tools_helm_releases.opentelemetry_operator }}"
      opensearch: "{{ tools_helm_releases.opensearch }}"
  when:
    - tools_enabled.opentelemetry or tools_enabled.jaeger

- name: Import OpenCost installation tasks
  ansible.builtin.import_tasks:
    file: install_opencost.yaml
  vars:
    helm_release: "{{ tools_helm_releases.opencost }}"
  when:
    - tools_enabled.opencost

- name: Import Ingress installation tasks
  ansible.builtin.import_tasks:
    file: install_ingress.yaml
  vars:
    helm_release: "{{ tools_helm_releases.ingress }}"
  when:
    - tools_enabled.ingress

- name: Import Chaos Mesh installation tasks
  ansible.builtin.import_tasks:
    file: install_chaos_mesh.yaml
  vars:
    helm_release: "{{ tools_helm_releases.chaos_mesh }}"
  when:
    - tools_enabled.chaos_mesh

- name: Import Kubernetes Metrics Server installation tasks
  ansible.builtin.import_tasks:
    file: install_kubernetes_metrics_server.yaml
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_metrics_server }}"
  when:
    - tools_enabled.kubernetes_metrics_server
    - fault_tools_cluster.platform == "kubernetes"

- name: Import Kubernetes Topology Monitor installation tasks
  ansible.builtin.import_tasks:
    file: install_kubernetes_topology_monitor.yaml
  tags:
    - install_tools
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_topology_monitor }}"
  when:
    - tools_enabled.kubernetes_topology_monitor
