---
- name: Create the release namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"
        labels:
          it-bench/shared-gateway-access: "true"
    state: present
    wait: true

- name: Install Kubernetes Topology Monitor
  kubernetes.core.helm:
    chart_ref: "{{ playbook_dir }}/../tools/kubernetes-topology-monitor/charts/kubernetes-topology-monitor"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.kubernetes_topology_monitor.name }}"
    release_namespace: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"
    release_state: present
    timeout: 10m0s
    wait: true

- name: Enable external access on Kind
  when:
    - tools_cluster.platform == "kubernetes"
    - tools_cluster.provider == "kind"
    - tools_installation_plan.kubernetes_topology_monitor.external_access
  block:
    - name: Import Kubernetes Gateway creation tasks
      ansible.builtin.import_tasks:
        file: install_kubernetes_gateway.yaml
      vars:
        gateway:
          name: "{{ tools_helm_releases.kubernetes_topology_monitor.name }}"
          namespace: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"

    - name: Import Kubernetes HTTP Route creation tasks
      ansible.builtin.import_tasks:
        file: install_kubernetes_http_route.yaml
      vars:
        gateway:
          name: "{{ tools_helm_releases.kubernetes_topology_monitor.name }}"
          namespace: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"
        http_routes:
          - name: "{{ tools_helm_releases.kubernetes_topology_monitor.name }}"
            namespace: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"
            service:
              name: topology-monitor-svc
              port: 8080

- name: Enable external access on OpenShift
  when:
    - tools_cluster.platform == "openshift"
    - tools_installation_plan.kubernetes_topology_monitor.external_access
  block:
    - name: Create OpenShift Route
      kubernetes.core.k8s:
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        template: templates/networking/openshift/route.j2
        state: present
      vars:
        route:
          name: "{{ tools_helm_releases.kubernetes_topology_monitor.name }}"
          namespace: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"
          service: topology-monitor-svc
          target_port: 8080

- name: Import connection test to external endpoint
  ansible.builtin.import_tasks:
    file: test_external_endpoint.yaml
  vars:
    tools_external_network_object:
      name: "{{ tools_helm_releases.kubernetes_topology_monitor.name }}"
      namespace: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"
    tools_external_paths:
      - /healthz
  when:
    - tools_installation_plan.kubernetes_topology_monitor.external_access
    - tools_cluster.platform == "openshift" or (tools_cluster.platform == "kubernetes" and tools_cluster.provider == "kind")
