---
- name: Create the release namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.opencost.namespace }}"
        annotations:
          openshift.io/sa.scc.mcs: s0:c36,c15
          openshift.io/sa.scc.supplemental-groups: 1001/1000
          openshift.io/sa.scc.uid-range: 1000/10000
        labels:
          it-bench/monitoring: "true"
          it-bench/shared-gateway-access: "true"
    state: present

- name: Import variable setting task
  ansible.builtin.import_tasks:
    file: set_prometheus_endpoint.yaml

- name: Install OpenCost
  kubernetes.core.helm:
    chart_ref: opencost
    chart_repo_url: https://opencost.github.io/opencost-helm-chart
    chart_version: 2.4.1
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.opencost.name }}"
    release_namespace: "{{ tools_helm_releases.opencost.namespace }}"
    release_state: present
    timeout: 10m0s
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/opencost.j2') | from_yaml }}"
    wait: true

- name: Create PrometheusRules
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/opencost/prometheusrules.j2
    state: present

- name: Enable external access to OpenCost
  when:
    - tools_installation_plan.opencost.external_access
  block:
    - name: Enable external access on OpenShift
      when:
        - tools_cluster.platform == "openshift"
      block:
        - name: Create OpenShift Route
          kubernetes.core.k8s:
            kubeconfig: "{{ tools_cluster.kubeconfig }}"
            template: templates/opencost/route.j2
            state: present
          register: tools_opencost_openshift_route

        - name: Import connection test to external endpoint
          ansible.builtin.import_tasks:
            file: test_route_endpoint.yaml
          vars:
            tools_external_paths:
              - /
            tools_route:
              name: "{{ tools_opencost_openshift_route.result.metadata.name }}"
              namespace: "{{ tools_opencost_openshift_route.result.metadata.namespace }}"
