---
- name: Create Cloud Provider Kind Kubernetes Gateway
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/networking/kubernetes/gateways/kind.j2
    state: present
  when:
    - tools_cluster.provider == "kind"

- name: Create Istio Kubernetes Gateway and Service Monitor
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/networking/kubernetes/gateways/istio.j2
    state: present
  when:
    - tools_cluster.provider != "kind"
    - tools_installation_plan.istio.enabled | default(false)

- name: Wait for gateway to be programmed
  kubernetes.core.k8s_info:
    api_version: gateway.networking.k8s.io/v1
    kind: Gateway
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: "{{ gateway.name }}"
    namespace: "{{ tools_instances.kubernetes_gateways.namespace }}"
    wait: true
    wait_condition:
      reason: Programmed
      status: "True"
      type: Programmed
