---
# kubectl is used in place of thekubernetes.core module because
# the server side configuration the yaml files are still downloaded
# and rendered on the client side. Depending on the file, sometimes
# there are rendering issues.

- name: Add Kubernetes Gateway API CRDs
  ansible.builtin.command:
    argv:
      - kubectl
      - apply
      - --server-side
      - -f
      - https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.0/standard-install.yaml
      - --kubeconfig={{ tools_cluster.kubeconfig | ansible.builtin.expanduser }}
  register: tools_kubernetes_gateway_crds_apply
  changed_when: tools_kubernetes_gateway_crds_apply.rc == 0
  when:
    - tools_cluster.platform == "kubernetes"

- name: Create Kubernetes Gateway instance namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_instances.kubernetes_gateways.namespace }}"
        labels:
          it-bench/monitoring: "true"
    state: present
