---
- name: Create release namespace for Istio
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    state: present
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ tools_helm_releases.istio.namespace }}"
        labels:
          it-bench/monitoring: "true"

- name: Install Istio Base (CRDs)
  kubernetes.core.helm:
    chart_ref: base
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.28.0
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.base }}"
    release_namespace: "{{ tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/base.j2') | from_yaml }}"
    wait: true

- name: Install Istiod Control Plane
  kubernetes.core.helm:
    chart_ref: istiod
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.28.0
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.istiod_control_plane }}"
    release_namespace: "{{ tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/istiod_control_plane.j2') | from_yaml }}"
    wait: true

- name: Install Istio CNI Node Agent
  kubernetes.core.helm:
    chart_ref: cni
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.28.0
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.cni_node_agent }}"
    release_namespace: "{{ 'kube-system' if tools_cluster.platform == 'openshift' else tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/cni_node_agent.j2') | from_yaml }}"
    wait: true

- name: Install Istio ZTunnel
  kubernetes.core.helm:
    chart_ref: ztunnel
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    chart_version: 1.28.0
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ tools_helm_releases.istio.components.ztunnel }}"
    release_namespace: "{{ 'kube-system' if tools_cluster.platform == 'openshift' else tools_helm_releases.istio.namespace }}"
    release_state: present
    values: "{{ lookup('ansible.builtin.template', 'templates/helm_values/istio/ztunnel.j2') | from_yaml }}"
    wait: true

- name: Deploy Istio Telemetry
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/istio/telemetry.j2
    state: present

- name: Deploy Prometheus Monitors
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/istio/monitoring.j2
    state: present
  when:
    - tools_installation_plan.prometheus.enabled | default(true)

- name: Create Kubernetes Gateway
  vars:
    tools_istio_gateway_http_routes: []
    tools_istio_gateway_test_endpoints: []
  when:
    - tools_cluster.platform == "kubernetes"
    - tools_cluster.provider != "kind"
  block:
    - name: Append http routes and test endpoints
      ansible.builtin.set_fact:
        tools_istio_gateway_http_routes: "{{ tools_istio_gateway_http_routes + item.routes }}"
        tools_istio_gateway_test_endpoints: "{{ tools_istio_gateway_test_endpoints + item.endpoints }}"
      loop:
        - enabled: "{{ tools_installation_plan.clickhouse.enabled | default(true) }}"
          endpoints:
            - /clickhouse/{{ tools_instances.clickhouse.names.main }}/play
          routes:
            - name: "{{ tools_instances.clickhouse.names.main }}"
              namespace: "{{ tools_instances.clickhouse.namespace }}"
              path:
                enable_rewrites: true
                prefix: /clickhouse/{{ tools_instances.clickhouse.names.main }}
              service:
                name: clickhouse-{{ tools_instances.clickhouse.names.main }}
                port: 8123
        - enabled: "{{ tools_installation_plan.jaeger.enabled | default(true) }}"
          endpoints:
            - /jaeger
          routes:
            - name: "{{ tools_instances.opentelemetry_collectors.names.jaeger }}"
              namespace: "{{ tools_instances.opentelemetry_collectors.namespace }}"
              path:
                enable_rewrites: false
                prefix: /jaeger
              service:
                name: "{{ tools_instances.opentelemetry_collectors.names.jaeger }}-collector"
                port: 16686
        - enabled: "{{ tools_installation_plan.opencost.enabled | default(true) }}"
          endpoints:
            - /
          routes:
            - name: "{{ tools_helm_releases.opencost.name }}"
              namespace: "{{ tools_helm_releases.opencost.namespace }}"
              service:
                name: "{{ tools_helm_releases.opencost.name }}"
                port: 9090
        - enabled: "{{ tools_installation_plan.prometheus.enabled | default(true) }}"
          endpoints:
            - /prometheus/alerts
            - /prometheus/query
          routes:
            - name: "{{ tools_helm_releases.prometheus.name }}"
              namespace: "{{ tools_helm_releases.prometheus.namespace }}"
              path:
                enable_rewrites: false
                prefix: /prometheus
              service:
                name: "{{ tools_helm_releases.prometheus.name }}-kube-prometheus-prometheus"
                port: 9090
        - enabled: "{{ tools_installation_plan.kubernetes_topology_monitor.enabled | default(true) }}"
          endpoints:
            - /topology/healthz
          routes:
            - name: "{{ tools_helm_releases.kubernetes_topology_monitor.name }}"
              namespace: "{{ tools_helm_releases.kubernetes_topology_monitor.namespace }}"
              path:
                enable_rewrites: true
                prefix: /topology
              service:
                name: topology-monitor-svc
                port: 8080
      when:
        - item.enabled

    - name: Import Kubernetes Gateway creation tasks
      ansible.builtin.import_tasks:
        file: install_kubernetes_gateway.yaml
      vars:
        gateway:
          name: main
          namespace: "{{ tools_helm_releases.istio.namespace }}"

    - name: Import Kubernetes HTTP Route creation tasks
      ansible.builtin.import_tasks:
        file: install_kubernetes_http_route.yaml
      vars:
        gateway:
          name: main
          namespace: "{{ tools_helm_releases.istio.namespace }}"
        http_routes: "{{ tools_istio_gateway_http_routes }}"

    - name: Import connection test to external endpoint
      ansible.builtin.import_tasks:
        file: test_external_endpoint.yaml
      vars:
        tools_external_network_object:
          name: main
          namespace: "{{ tools_helm_releases.istio.namespace }}"
        tools_external_paths: "{{ tools_istio_gateway_test_endpoints }}"

- name: Enable Routing via Host feature
  kubernetes.core.k8s_json_patch:
    api_version: operator.openshift.io/v1
    kind: Network
    kubeconfig: "{{ faults_cluster.kubeconfig }}"
    name: cluster
    namespace: default # TODO: Need to validate this namespace
    patch:
      - op: replace
        path: /spec/defaultNetwork/ovnKubernetesConfig/gatewayConfig/routingViaHost
        value: true
  when:
    - tools_cluster.platform == "openshift"
