---
- name: Create HTTPRoutes for gateway
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    template: templates/networking/kubernetes/httproute.j2
    state: present
  loop: "{{ http_routes }}"
  loop_control:
    label: httproute/{{ route.name }}
    loop_var: route

- name: Wait for all HTTP routes to be accepted
  kubernetes.core.k8s_info:
    api_version: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: "{{ route.name }}"
    namespace: "{{ route.namespace }}"
  loop: "{{ http_routes }}"
  loop_control:
    label: httproute/{{ route.name }}
    loop_var: route
  register: tools_http_route
  until:
    - tools_http_route.resources[0].status is defined
    - tools_http_route.resources[0].status.parents is defined
    - tools_http_route.resources[0].status.parents | length == 1
    - tools_http_route.resources[0].status.parents[0] |
      community.general.json_query("conditions[?type=='Accepted' && status=='True']") |
      length == 1
  retries: 10
  delay: 30
