---
- name: Import Chaos Mesh reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_chaos_mesh.yaml

- name: Import Prometheus reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_prometheus.yaml
  vars:
    helm_release: "{{ tools_helm_releases.prometheus }}"
  when:
    - tools_required.prometheus or tools_required.opencost

- name: Import OpenTelemetry reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_opentelemetry.yaml

- name: Import OpenSearch reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_opensearch.yaml

- name: Import Clickhouse reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_clickhouse.yaml

- name: Import Kubernetes Metrics Server reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_kubernetes_metrics_server.yaml
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_metrics_server }}"
  when:
    - tools_required.kubernetes_metrics_server
    - tools_cluster.platform == "kubernetes"

- name: Import Kubernetes Topology Monitor uninstallation task
  ansible.builtin.import_tasks:
    file: uninstall_kubernetes_topology_monitor.yaml
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_topology_monitor }}"
  when:
    - tools_required.kubernetes_topology_monitor

- name: Import Kubernetes Topology Monitor installation task
  ansible.builtin.import_tasks:
    file: install_kubernetes_topology_monitor.yaml
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_topology_monitor }}"
  when:
    - tools_required.kubernetes_topology_monitor

- name: Import Kubernetes Cluster reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_kubernetes_cluster.yaml
  when:
    - tools_cluster.platform == "kubernetes"
