---
- name: Retrieve bearer token from OpenShift CLI
  ansible.builtin.command:
    argv:
      - oc
      - whoami
      - -t
      - --kubeconfig={{ tools_cluster.kubeconfig | ansible.builtin.expanduser }}
  register: tools_oc_user_token
  changed_when: false
  when:
    - tools_cluster.platform == "openshift"

- name: Extract Prometheus hostname and bearer token
  ansible.builtin.set_fact:
    tools_prometheus_bearer_token: "{{ tools_oc_user_token.stdout }}"
  when:
    - tools_cluster.platform == "openshift"
    - tools_oc_user_token is defined
    - tools_oc_user_token.rc == 0

- name: Retrieve Prometheus information
  kubernetes.core.k8s_info:
    api_version: monitoring.coreos.com/v1
    kind: Prometheus
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: "{{ 'prometheus-k8s' if tools_cluster.platform == 'openshift' else (tools_helm_releases.prometheus.name + '-kube-prometheus-prometheus') }}"
    namespace: "{{ 'openshift-monitoring' if tools_cluster.platform == 'openshift' else tools_helm_releases.prometheus.namespace }}"
  register: tools_prometheus

- name: Construct Prometheus in-cluster endpoint
  ansible.builtin.set_fact:
    tools_prometheus_endpoint: "{{ tools_prometheus.resources[0].spec.externalUrl }}{{ tools_prometheus.resources[0].spec.routePrefix }}"
