---
- name: Import external url extraction tasks
  ansible.builtin.import_tasks:
    file: set_external_endpoint.yaml

- name: Attempt connection test to additional endpoints
  ansible.builtin.uri:
    url: "{{ endpoint }}"
  loop: "{{ [tools_external_http_endpoint | default('')] | product(tools_external_paths) | map('join', '') }}"
  loop_control:
    label: "{{ endpoint }}"
    loop_var: endpoint
  delay: 30
  retries: 6
