---
- name: Retrieve all Custom Resource Definitions
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
  register: tools_crds
  when:
    - tools_cluster.platform == "kubernetes"

- name: Import Kubernetes Topology Monitor uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_kubernetes_topology_monitor.yaml
  when:
    - tools_required.kubernetes_topology_monitor

- name: Import Kubernetes Metrics Server uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_kubernetes_metrics_server.yaml
  when:
    - tools_required.kubernetes_metrics_server
    - tools_cluster.platform == "kubernetes"

- name: Import Istio uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_istio.yaml
  when:
    - tools_required.istio

- name: Import Chaos Mesh uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_chaos_mesh.yaml
  when:
    - tools_required.chaos_mesh

- name: Import OpenCost uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_opencost.yaml
  when:
    - tools_required.opencost

- name: Import OpenTelemetry uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_opentelemetry.yaml
  when:
    - tools_required.jaeger or tools_required.opentelemetry or tools_required.istio

- name: Import Clickhouse installation tasks
  ansible.builtin.import_tasks:
    file: uninstall_clickhouse.yaml
  when:
    - tools_required.clickhouse or tools_required.opentelemetry

- name: Import OpenSearch uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_opensearch.yaml
  when:
    - tools_required.opensearch or tools_required.jaeger

- name: Import Prometheus uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_prometheus.yaml
  when:
    - tools_required.prometheus or tools_required.opencost

- name: Import Ingress uninstallation tasks
  ansible.builtin.import_tasks:
    file: uninstall_ingress.yaml
  when:
    - tools_required.ingress
    - tools_cluster.platform == "kubernetes"

- name: Remove installed Custom Resource Definitions
  kubernetes.core.k8s:
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    resource_definition:
      api_version: "{{ crd.apiVersion }}"
      kind: "{{ crd.kind }}"
      metadata:
        name: "{{ crd.metadata.name }}"
    state: absent
    wait: true
  loop: "{{ tools_custom_resource_definitions }}"
  loop_control:
    label: customresourcedefinition/{{ crd.metadata.name }}
    loop_var: crd
