---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  labels:
    app.kubernetes.io/component: drain-blocking-pdb-fault
    app.kubernetes.io/name: {{ [fault_args.workload.name, "pdb"] | join("-") }}
    app.kubernetes.io/managed-by: ITBench
  name: {{ [fault_args.workload.name, "pdb"] | join("-") }}
  namespace: {{ fault_args.workload.namespace }}
spec:
  minAvailable: {{ workload.spec.replicas }}
  selector:
    matchLabels: {{ workload.spec.template.metadata.labels }}
