---
- name: Import invalid password injection tasks
  ansible.builtin.import_tasks:
    file: inject_valkey_invalid_password.yaml
  vars:
    spec: "{{ fault_spec.fault.valkey.invalid_password }}"
  when:
    - fault_spec.fault.valkey.name == 'invalid-password'
    - fault_spec.fault.valkey.invalid_password is defined

- name: Import fill storage injection tasks
  ansible.builtin.import_tasks:
    file: inject_valkey_fill_storage.yaml
  vars:
    spec: "{{ fault_spec.fault.valkey.fill_storage }}"
  when:
    - fault_spec.fault.valkey.name == 'fill-storage'
    - fault_spec.fault.valkey.fill_storage is defined
