apiVersion: itbench.io/v1
kind: ScenarioSpec
metadata:
  labels:
    itbench.io/scenario-variant: none
  name: scenario-43
spec:
  applications:
  - otelDemo:
      enabled: true
      options:
        autoscaling: false
  faults:
  - injections:
    - args:
        kubernetesObject:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: frontend
            namespace: otel-demo
      id: failing-name-resolution-kubernetes-workload-dns-policy
  tools:
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
