apiVersion: itbench.io/v1
kind: ScenarioSpec
metadata:
  labels:
    itbench.io/scenario-variant: none
  name: scenario-39
spec:
  applications:
  - otelDemo:
      enabled: true
      options:
        autoscaling: false
  faults:
  - injections:
    - args:
        kubernetesObject:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: payment
            namespace: otel-demo
      id: cordoned-kubernetes-worker-node
  tools:
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
