---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.ingress.namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.clickhouse.namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.opensearch.namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.opentelemetry_operator.namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.opentelemetry_kubernetes_events_collector.namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.opencost.namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.prometheus.namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.kubernetes_metrics_server.namespace }}"
