{% if observability_tools_enabled.stack.ingress %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.ingress.namespace }}"
  labels:
    it-bench/monitoring: "true"
{% endif %}
{% if observability_tools_enabled.stack.clickhouse or observability_tools_enabled.stack.opentelemetry %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.clickhouse_operator.namespace }}"
  labels:
    it-bench/monitoring: "true"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.clickhouse.namespace }}"
  annotations:
    openshift.io/sa.scc.mcs: s0:c30,c10
    openshift.io/sa.scc.uid-range: 100/100
    openshift.io/sa.scc.supplemental-groups: 101/100
  labels:
    it-bench/monitoring: "true"
{% endif %}
{% if observability_tools_enabled.stack.opensearch or observability_tools_enabled.stack.jaeger %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.opensearch.namespace }}"
  annotations:
    openshift.io/sa.scc.mcs: s0:c33,c22
    openshift.io/sa.scc.uid-range: 1000/1000
    openshift.io/sa.scc.supplemental-groups: 1000/1000
  labels:
    it-bench/monitoring: "true"
{% endif %}
{% if observability_tools_enabled.stack.jaeger %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.opentelemetry_operator.namespace }}"
  annotations:
    openshift.io/sa.scc.mcs: s0:c29,c9
    openshift.io/sa.scc.supplemental-groups: 65532/10000
    openshift.io/sa.scc.uid-range: 65000/10000
  labels:
    it-bench: "true"
{% endif %}
{% if observability_tools_enabled.stack.opentelemetry or observability_tools_enabled.stack.jaeger %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.opentelemetry_collectors.namespace }}"
  labels:
    it-bench/monitoring: "true"
{% endif %}
{% if observability_tools_enabled.stack.opencost %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.opencost.namespace }}"
  annotations:
    openshift.io/sa.scc.mcs: s0:c36,c15
    openshift.io/sa.scc.supplemental-groups: 1001/1000
    openshift.io/sa.scc.uid-range: 1000/10000
  labels:
    it-bench/monitoring: "true"
{% endif %}
{% if observability_tools_enabled.stack.prometheus or observability_tools_enabled.stack.opencost %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ observability_tools_helm_releases.prometheus.namespace }}"
  labels:
    it-bench/monitoring: "true"
{% endif %}
