{% if observability_tools_enabled.stack.clickhouse %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ observability_tools_helm_releases.clickhouse.name }}"
  namespace: "{{ observability_tools_helm_releases.clickhouse.namespace }}"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - pathType: ImplementationSpecific
            path: /clickhouse(/|$)(.*)
            backend:
              service:
                name: "{{ observability_tools_helm_releases.clickhouse.name }}-clickhouse"
                port:
                  number: 8123
{% endif %}
{% if observability_tools_enabled.stack.jaeger %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jaeger
  namespace: "{{ observability_tools_helm_releases.opentelemetry_collectors.namespace }}"
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - pathType: ImplementationSpecific
            path: /jaeger
            backend:
              service:
                name: jaeger-collector
                port:
                  number: 16686
{% endif %}
{% if observability_tools_enabled.stack.opencost %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ observability_tools_helm_releases.opencost.name }}"
  namespace: "{{ observability_tools_helm_releases.opencost.namespace }}"
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: "{{ observability_tools_helm_releases.opencost.name }}"
                port:
                  number: 9090
{% endif %}
{% if observability_tools_enabled.stack.prometheus or observability_tools_enabled.stack.opencost %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ observability_tools_helm_releases.prometheus.name }}"
  namespace: "{{ observability_tools_helm_releases.prometheus.namespace }}"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - pathType: ImplementationSpecific
            path: /prometheus(/|$)(.*)
            backend:
              service:
                name: "{{ observability_tools_helm_releases.prometheus.name }}-kube-prometheus-prometheus"
                port:
                  number: 9090
    - http:
        paths:
          - pathType: ImplementationSpecific
            path: /alertmanager(/|$)(.*)
            backend:
              service:
                name: "{{ observability_tools_helm_releases.prometheus.name }}-kube-prometheus-alertmanager"
                port:
                  number: 9093
{% endif %}
