---
- name: Import tools role for variable setting tasks
  ansible.builtin.import_role:
    name: tools
    tasks_from: set_clickhouse_endpoint
  vars:
    tools_cluster:
      kubeconfig: "{{ recorders_cluster.kubeconfig }}"

- name: Load job information
  ansible.builtin.set_fact:
    recorders_unified_clickhouse_job: "{{ lookup('ansible.builtin.file', 'files/unified/clickhouse/job.yaml') | from_yaml }}"

- name: Create PersistentVolumeClaim to retain records
  kubernetes.core.k8s:
    kubeconfig: "{{ recorders_cluster.kubeconfig }}"
    namespace: "{{ recorders_namespace.name }}"
    src: files/unified/clickhouse/persistentvolumeclaim.yaml
    state: present

- name: Create ClickHouse-based unified recorder environment list
  ansible.builtin.set_fact:
    recorders_clickhouse_env_vars:
      - name: CLICKHOUSE_ENDPOINT
        value: "{{ tools_clickhouse_endpoint }}:8123"
      - name: CLICKHOUSE_USERNAME
        value: "{{ tools_clickhouse_username }}"
      - name: CLICKHOUSE_PASSWORD
        value: "{{ tools_clickhouse_password }}"

- name: Create ConfigMap with Python script
  kubernetes.core.k8s:
    kubeconfig: "{{ recorders_cluster.kubeconfig }}"
    namespace: "{{ recorders_namespace.name }}"
    template: templates/unified/clickhouse/configmap.j2
    state: present
  vars:
    python_script_file_contents: "{{ lookup('ansible.builtin.file', 'files/unified/clickhouse/scripts/gather.py') }}"
    requirements_file_contents: "{{ lookup('ansible.builtin.file', 'files/unified/clickhouse/scripts/requirements.txt') }}"

- name: Wait for any ongoing jobs to be removed
  kubernetes.core.k8s_info:
    api_version: "{{ recorders_unified_clickhouse_job.apiVersion }}"
    kind: "{{ recorders_unified_clickhouse_job.kind }}"
    kubeconfig: "{{ recorders_cluster.kubeconfig }}"
    name: "{{ recorders_unified_clickhouse_job.metadata.name }}"
    namespace: "{{ recorders_namespace.name }}"
  register: recorders_unified_clickhouse_job_info
  until:
    - recorders_unified_clickhouse_job_info.resources | length == 0
  retries: 8
  delay: 15

- name: Install Clickhouse Unified Recorder
  kubernetes.core.k8s:
    kubeconfig: "{{ recorders_cluster.kubeconfig }}"
    namespace: "{{ recorders_namespace.name }}"
    template: templates/unified/clickhouse/deployment.yaml
    state: present
  register: recorders_clickhouse_workload
  vars:
    container_image: "{{ recorders_clickhouse_statefulset.spec.template.spec.containers[0].image }}"
    container_environment_variables: "{{ recorders_clickhouse_env_vars }}"