---
apiVersion: itbench.io/v2
kind: Scenario
metadata:
  name: scenario-27
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: chaos-mesh.org/v1alpha1
              kind: Schedule
              metadata:
                name: quote-http-chaos-abort
                namespace: chaos-mesh
            scheduleSpec:
              concurrencyPolicy: Forbid
              historyLimit: 1
              httpChaos:
                abort: true
                duration: 55s
                method: POST
                mode: all
                path: "*"
                port: 8080
                selector:
                  labelSelectors:
                    app.kubernetes.io/component: quote
                  namespaces:
                    - otel-demo
                target: Request
              schedule: "* * * * *"
              type: HTTPChaos
          id: scheduled-chaos-mesh-experiment
  tools:
    chaosEngineering:
      chaosMesh:
        enabled: true
    costMonitoring:
      opencost:
        enabled: false
    observability:
      topology:
        enabled: true
      traces:
        enabled: true
