batching:
  count: 20
  enabled: false
  vpc:
    cidr: "10.0.0.0/16"
    subnet:
      public_base: "10.0"
cluster:
  aws:
    region: us-east-1
    zones:
      - a
  name_prefix: development
  networking:
    mode: cilium
  nodes:
    control:
      count: 1
      instance_type: c4.xlarge
    worker:
      count: 3
      instance_type: m4.xlarge
  ssh:
    public_key_path: ""
  state:
    s3_bucket_name: ""
