---
- name: Import incident file load tasks
  ansible.builtin.import_tasks:
    file: load.yaml
  tags:
    - always

- name: Import incident file validation tasks
  ansible.builtin.import_tasks:
    file: validate.yaml
  tags:
    - validate_files

- name: Create variables for Ansible role usage
  ansible.builtin.set_fact:
    incidents_applications:
      bookinfo:
        enabled: "{{ incidents_spec.spec.environment.applications.bookinfo.enabled | default(false) }}"
      otel_demo:
        configuration: "{{ incidents_spec.spec.environment.applications.otel_demo.configuration | default({}) }}"
        enabled: "{{ incidents_spec.spec.environment.applications.otel_demo.enabled | default(true) }}"
    incidents_tools:
      chaos_mesh: "{{ 'chaos-mesh' in incidents_spec.spec.environment.tools.selected }}"
      clickhouse: "{{ 'clickhouse' in incidents_spec.spec.environment.tools.selected or true }}"
      istio: "{{ 'istio' in incidents_spec.spec.environment.tools.selected or false }}"
      jaeger: "{{ 'jaeger' in incidents_spec.spec.environment.tools.selected or true }}"
      kubernetes_metrics_server: "{{ 'kubernetes-metrics-server' in incidents_spec.spec.environment.tools.selected or true }}"
      kubernetes_topology_monitor: "{{ 'kubernetes-topology-monitor' in incidents_spec.spec.environment.tools.selected }}"
      opencost: "{{ 'opencost' in incidents_spec.spec.environment.tools.selected or incidents_spec.spec.environment.tools.category == 'finops' }}"
      opentelemetry: "{{ 'opentelemetry' in incidents_spec.spec.environment.tools.selected or true }}"
      prometheus: "{{ 'prometheus' in incidents_spec.spec.environment.tools.selected or true }}"
