---
apiVersion: itbench.io/v2
kind: GroundTruth
metadata:
  name: scenario-20
spec:
  alerts:
    - labels: {}
      name: KubePodNotReady
  entities:
    - apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: product-catalog
        namespace: otel-demo
  solutions:
    - - steps:
          - command: kubectl -n otel-demo rollout undo deployment/product-catalog
            text: Revert the last change done to the manifest.
      - steps:
          - command: kubectl -n otel-demo edit deployment product-catalog
            text: Manually edit the manifest and replace the invalid image with the correct value.
