---
apiVersion: v1
kind: Config
preferences: {}
clusters:
  - cluster:
      server: {{ server }}
      certificate-authority-data: {{ certificate_authority_data }}
    name: {{ cluster }}
contexts:  {{ contexts }}
current-context: {{ contexts[0].name }}
users: {{ users }}
