---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    app.kubernetes.io/part-of: it-bench
  name: agent-access
subjects:
  - kind: ServiceAccount
    name: {{ service_account.metadata.name }}
    namespace: {{ service_account.metadata.namespace }}
roleRef:
  kind: Role
  name: {{ role.metadata.name }}
  apiGroup: rbac.authorization.k8s.io
