apiVersion: itbench.io/v1
kind: Scenario
metadata:
  labels:
    itbench.io/scenario-variant: none
  name: scenario-23
spec:
  applications:
  - otelDemo:
      enabled: true
      options:
        autoscaling: false
  faults:
  - injections:
    - args:
        container:
          name: checkout
        kubernetesObject:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: checkout
            namespace: otel-demo
      id: unsupported-architecture-kubernetes-workload-container-image
  tools:
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
