apiVersion: itbench.io/v1
kind: Scenario
metadata:
  labels:
    itbench.io/scenario-variant: none
  name: scenario-46
spec:
  applications:
  - otelDemo:
      enabled: true
      options:
        autoscaling: false
  faults:
  - injections:
    - args:
        container:
          name: postgresql
        kubernetesObject:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: postgresql
            namespace: otel-demo
      id: insufficent-kubernetes-workload-container-resources
  tools:
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
