---
apiVersion: itbench.io/v1
kind: Scenario
metadata:
  name: scenario-26
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: chaos-mesh.org/v1alpha1
              kind: Schedule
              metadata:
                name: email-http-chaos-post-body-tamper
                namespace: chaos-mesh
            scheduleSpec:
              concurrencyPolicy: Forbid
              historyLimit: 1
              httpChaos:
                duration: 55s
                method: POST
                mode: all
                patch:
                  body:
                    type: JSON
                    value:
                      email: "12345"
                      order: error body
                path: "*"
                port: 8080
                selector:
                  labelSelectors:
                    app.kubernetes.io/component: email
                  namespaces:
                    - otel-demo
                target: Request
              schedule: "* * * * *"
              type: HTTPChaos
          id: scheduled-chaos-mesh-experiment
  tools:
    chaosEngineering:
      chaosMesh:
        enabled: true
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
