---
apiVersion: itbench.io/v1
kind: Scenario
metadata:
  name: scenario-105
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults:
    - injections:
        - args:
            container:
              name: product-catalog
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: product-catalog
                namespace: otel-demo
          id: invalid-kubernetes-workload-container-command
  tools:
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
