---
apiVersion: itbench.io/v1
kind: Scenario
metadata:
  labels:
    itbench.io/scenario-variant: none
  name: scenario-49
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults:
    - injections:
        - args:
            container:
              name: frontend
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: frontend
                namespace: otel-demo
          id: misconfigured-kuberntes-workload-container-readiness-probe
  tools:
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
