---
apiVersion: itbench.io/v1
kind: Scenario
metadata:
  name: scenario-37
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults: []
  tools:
    costMonitoring:
      opencost:
        enabled: true
    networking:
      istio:
        enabled: true
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
