---
apiVersion: itbench.io/v1
kind: Scenario
metadata:
  labels:
    itbench.io/scenario-variant: none
  name: scenario-33
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: ad
                namespace: otel-demo
          id: nonexistent-kubernetes-workload-node
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: cart
                namespace: otel-demo
          id: nonexistent-kubernetes-workload-node
  tools:
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
