apiVersion: itbench.io/v1
kind: Scenario
metadata:
  labels:
    itbench.io/scenario-variant: none
  name: scenario-48
spec:
  applications:
  - bookInfo:
      enabled: true
      options: {}
  faults:
  - injections:
    - args:
        kubernetesObject:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: bookinfo
      id: disabled-istio-ambient-mode-kubernetes-namespace
  tools:
    networking:
      istio:
        enabled: true
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
