---
apiVersion: itbench.io/v1
kind: Scenario
metadata:
  name: scenario-42
spec:
  applications:
    - otelDemo:
        enabled: true
        options:
          autoscaling: false
  faults:
    - injections:
        - args:
            kubernetesObject:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: kafka
                namespace: otel-demo
          id: priority-kubernetes-workload-priority-preemption
  tools:
    networking:
      istio:
        enabled: true
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
