apiVersion: itbench.io/v1
kind: Scenario
metadata:
  labels:
    itbench.io/scenario-variant: none
  name: scenario-44
spec:
  applications:
  - otelDemo:
      enabled: true
      options:
        autoscaling: false
  faults:
  - injections:
    - args:
        kubernetesObject:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: payment
            namespace: otel-demo
      id: unschedueable-kuberntes-workload-pod-anti-affinity-rule
  tools:
    observability:
      events:
        enabled: true
      logs:
        enabled: true
      metrics:
        enabled: true
      topology:
        enabled: true
      traces:
        enabled: true
