---
- name: Create all scenario workflows in parallel (throttled)
  awx.awx.workflow_job_template:
    controller_host: "{{ awx_controller_host }}"
    controller_password: "{{ awx_controller_password }}" # pragma: allowlist secret
    controller_username: admin
    ask_variables_on_launch: true
    inventory: ITBench
    name: "Scenario-{{ scenario_id }}{{ item.0.suffix }}"
    request_timeout: 120
    state: present
    workflow_nodes: "{{ lookup('ansible.builtin.template', item.0.template) | from_yaml }}"
  loop: "{{ workflow_types | product(awx_experiments.scenarios) | list }}"
  loop_control:
    label: "Scenario-{{ item.1 }}{{ item.0.suffix }}"
  vars:
    scenario_id: "{{ item.1 }}"
    scenario_index: "{{ awx_experiments.scenarios.index(item.1) }}"
    cluster_index: "{{ scenario_index | int % (awx_runners.kubeconfigs | length) }}"
    requires_aws_credentials: "{{ awx_credentials.aws is defined }}"
    workflow_types:
      - { suffix: "-Partial-Execution-Start", template: "templates/workflow_nodes/scenario_exec_start.j2" }
      - { suffix: "-Partial-Execution-Stop", template: "templates/workflow_nodes/scenario_exec_stop.j2" }
      - { suffix: "-Full-Execution", template: "templates/workflow_nodes/scenario_exec_full.j2" }
      - { suffix: "-Data-Collection-Execution", template: "templates/workflow_nodes/scenario_exec_data_collection.j2" }
  async: 600
  poll: 0
  register: awx_workflow_creation

- name: Wait for all workflows to be created
  ansible.builtin.async_status:
    jid: "{{ item.ansible_job_id }}"
  loop: "{{ awx_workflow_creation.results }}"
  loop_control:
    label: "{{ item.item.0.suffix }}"
  register: job_result
  until: job_result.finished
  retries: 60
  delay: 60
  throttle: 5
