---
- name: Get AWX secret information
  kubernetes.core.k8s_info:
    kind: Secret
    kubeconfig: "{{ awx_cluster.kubeconfig }}"
    name: "{{ awx_instances.awx.name }}-admin-password"
    namespace: "{{ awx_instances.awx.namespace }}"
  register: awx_admin_secret

- name: Extract the AWX password
  ansible.builtin.set_fact:
    awx_controller_password: "{{ awx_admin_secret.resources[0].data.password | b64decode }}" # pragma: allowlist secret
