---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: valkey-fill-storage-fault
    app.kubernetes.io/name: valkey-storage-script
    app.kubernetes.io/managed-by: ITBench
  name: valkey-storage-script
  namespace: {{ fault_args.workload.namespace }}
data:
  script: |
    {{ bash_script_contents | indent(width=4) }}
