name: Lint SRE playbooks

on:
  pull_request:
    branches:
      - main
    paths:
      - sre/project/**
      - sre/dev/remote_cluster/project/**

jobs:
  lint-main-playbooks:
    name: Lint playbooks and roles in main directory
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.13'
      - name: Install Python dependencies
        run: |
          pip install -r sre/requirements.txt
          pip install -r sre/requirements-dev.txt
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.11.1
        with:
          args: project
          setup_python: "false"
          working_directory: sre
          requirements_file: requirements.yaml
  lint-remote-cluster-playbooks:
    name: Lint playbooks and roles in remote cluster directory
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.13'
      - name: Install Python dependencies
        run: |
          pip install -r sre/requirements.txt
          pip install -r sre/requirements-dev.txt
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.11.1
        with:
          args: project
          setup_python: "false"
          working_directory: sre/dev/remote_cluster
          requirements_file: ../../requirements.yaml
